@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER
/*
    0 - 600:        Phone
    600 - 900:      Tablet portrait
    900 - 1200:     Tablet lanscape
    [1200 - 1800] is where our normal styles apply (Desktop-First)
    1800px + :      Big desktop 

    
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.4em) { @content }; // 600px
        /*
            1em = 16px
            600 / 16 = 37.4em
        */
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; // 1200px
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; // 1800px
    }
}