
/* Like Normalize to reset defaults for browsers */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;

    /* 
    always divide the value what you want by 16(default font size value)
        here I want 10px so 10 / 16 = 0.625 = 62.5%
        To allow users change the root font size

    1rem = 10px (1 * 10 = 10)
    */

    @include respond(tab-land) { // width < 1200 ?
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { // width < 900 ?
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 80%; // 1rem = 12px, 12/16 = 75%
    }

}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}